<form *ngIf="showRegList" class="register-form" (ngSubmit)="onSubmit()">
    <h2 class="register">Registration form</h2>
    <div class="names full-name">
        <label for="payment-status">First Name</label>
        <label for="payment-status" class="lastname">Last Name</label>
    </div>
    <div class="names">
        <input class="box form-box-input" type="text" name="name" [(ngModel)]="firstname" id="name" placeholder="ex. John" required/>
        <input class="box form-box-input" type="text" name="name" [(ngModel)]="lastname" id="name" placeholder="ex. Doe" required/>
    </div>
    <div class="" style="display: flex;">
        <div class="date">
            <label for="payment-status" style="display: block; margin-left: 7px;">Date of Birth</label>
            <input class="date-box form-box-input" type="date" style="color: rgb(107, 107, 107);" name="date" [(ngModel)]="date" id="date" style="display: block"/>
        </div>
        <div class="date sex-div">
            <label for="payment-status" style="margin-left: 10px;">Sex</label>
            <form action="" >
                <select class="sex-input" label="Sex" name="sex" id="sex" style="color: rgb(107, 107, 107);" [(ngModel)]="sex" placeholder="Male">
                    <option value="Male" style="color: rgb(107, 107, 107);" selected="select">Male</option>
                    <option value="Female" style="color: rgb(107, 107, 107);">Female</option>
                </select>
            </form>
        </div>
    </div>
    <div class="form-control email">
        <label for="payment-status">Email</label>
        <input class="box form-box-input" type="text" name="email" [(ngModel)]="email" id="email" placeholder="ex. johndoe@mail.com" />
    </div>
    <div class="form-control">
        <label for="payment-status">Mobile number</label>
        <input class="box form-box-input" type="tel" name="phone" [(ngModel)]="phone" id="phone" placeholder="ex. 080xxxxxxxx" />
    </div>
    <div class="radios">
        <label for="payment-status">Payment Confimed?</label>
        <input type="checkbox" name="hasPaid" [(ngModel)]="hasPaid" id="hasPaid" />
    </div>
    <input type="submit" value="Submit" [(ngModel)]="paid" class="btn btn-block" />
</form>